/*<<<<<<FOOTER>>>>>>*/
footer {
    padding: 20px 5px;
    background-color:#fff;
}

footer section {
    width: 90%;
    margin: 30px auto;
}

footer section i {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: color ease .4s;
}
footer section i:hover{
    color: #03264C;
}

footer section p {
    font-size: 16px;
}

footer p.copyrigth {
    padding: 20px;
}


@media (min-width :768px) {}

@media (min-width : 1024px) {
    footer .content-footer {
        display: flex;

        justify-content: space-between;
    }

    footer .content-footer section {
        width: 33%;
        padding: 0 25px;
        margin-bottom: 20px;
    }
}