/*>>>>>> header <<<<<<*/
header {
    background-color: #EAC926;
    padding: 30px 20px 20px;
    font-size: 12px;
}

/*Logo*/
header .logo-ml {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo-ml .logo {
    width: 48%;
    margin-left: 10px;
    margin-bottom: 10px;
}

/*buscador*/
header .buscador {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

header .logo-ml .buscador {
    width: 80%;
}

form {
    margin-top: 0em;
    display: block;
}

/*input*/
header .logo-ml .buscador input {
    flex-grow: 1;
    border-radius: 5px 0 0 5px;
    padding: 9px;
}

/*boton*/
header button{
    display: contents;
}
button i {
    background-color: white;
    color: var(--GrisOscuro);
    border-radius: 0 5px 5px 0;
    padding: 10px 5px;
    display: flex;
    align-items: center;
}

/*boton hover*/
.button:hover {
    cursor: pointer;
}


header p.compra {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

/*NAVEGACION*/
header nav {
    display: none;
}

header nav ul li{
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
header nav ul li a{
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/*header nav ul.nav-bar {
    margin: 20px 0;
}*/


/*boton de hamburguesa*/
.burger-menu {
    text-align: center;
}

.burger-menu i {
    margin-top: 25px;
    padding: 10px;
    color: #ebebeb;
    background-color: #1259c3;
    font-size: 25px;
    border-radius: 10px;
}

/*tablet*/
@media(min-width: 768px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
    }

    header nav ul li {
        margin: 0 6px;
    }

    header .logo-ml .logo {
        width: 32%;
    }

    header .logo-ml .buscador {
        width: 32%;
    }

    header p.compra {
        width: 32%;
    }

    header .burger-menu {
        display: none;
    }
}

/*escritorio*/
@media(min-width: 1024px) {
    header nav ul li{
        margin: 0 10px;
    }
}