.home {
    margin: auto;
    background-color: lightgray;
}

/*banner*/
.home main .banner {
    display: none;
}

.banner img {
    width: 100%;
}

/*MAIN*/
.home main {
    background-color: var(--GrisClaro);
    width: 100%;
    margin: 0 auto 20px;
}

/*articulos*/
.home main section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home main section h4 {
    width: 100%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    display: block;
}

.home main section article {
    margin: 10px 0;
    background-color: #ffffff;
    transition: all ease .3s;

}

.home main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.home main section article:hover .data .descripcion {
    height: 20px;
    margin-top: 10px;
}

/*datos de los productos*/
.home div.data {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.home main.productos {
    width: auto;
}

/* camion de envíos*/

.home main section article .data i {
    color: #39b54a;
    border-radius: 50%;
    padding: 5px;
    display: block;
    font-size: 16px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all ease .3s;
}

.home .envio {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform .5s;
    transform: rotate(0deg);
}

.home .envio:hover {
    transition: transform .5s;
    transform: rotate(-90deg);
}


.home main section article:hover .data i {
    box-shadow: 0 0 5px var(--Verde);
    transform: rotate(360deg);
}

.home main section article img {
    width: 90%;
}

.home main section article .data .precio-descuento {
    display: flex;
}

/*precio*/
.home main section article .data .precio {
    font-size: 18px;
    flex-grow: 0.3;
    font-family: 'Roboto', sans-serif;
}

/*descuento*/
.home main section article .data .descuento {
    color: #39b54a;
    font-size: 23px;
    border: 1px, solid #ebebeb;
    margin: 10px;
    flex-grow: 0.7;
    display: flex;
}

/*descripcion*/
.home main section article .data .descripcion {
    height: 0;
    transition: all ease .3s;
    overflow: hidden;
    color: var(--GrisOscuro);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.home main section article:hover .data .descripcion {
    height: 20px;
    margin-top: 10px;
}

/*oferta*/
div.productos {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home main section h3 {
    width: 100%;
    display: block;
    font-size: 24px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}


/*>>>>>> DISEÑO ADAPTATIVO <<<<<<*/
/*tablet*/

@media (min-width: 768px) {
    .home main section article {
        width: 40%;
    }
    .home main{
        width:90%;
        margin: 0 auto 20px;
    }
    .home .producto{
        width: 45%;
        box-shadow:0;
        margin: 0 0 35px;
        transition:box-shadow .5s;
    }

    .home .producto:hover{
        box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    }

    /*descriipcion*/
    .home main section article .data .descripcion {
        display: block;
    }
}

/* escritorio*/
@media (min-width: 1024px) {
    .home main section article {
        width: 20%;
    }
    .home header nav li{
        margin: 0 10px;
    }
}